# Librerías principales
tensorflow==2.20.0
opencv-python==4.10.0.84
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2
matplotlib==3.9.2
seaborn==0.13.2

# Flask y utilidades web
flask==3.0.3
werkzeug==3.0.4

# Utilidades adicionales
pillow==10.4.0
